
<h3 class="sub-work-title"> Conference Presentations / Invited Talks (selected) </h3>

<table>
  <tbody>
    <tr> 
      <td class="date"> Nov, 2019</td> 
      <td class="content">  Talk at the <b> 60th annual meeting of Psychonomic Society </b> in Montreal, Canada </td>
    </tr>

    <tr> 
      <td class="date"> Jun, 2019</td> 
      <td class="content"> Poster <a href="https://github.com/jonkingseestheworld/mvpa_pronto_attempt/blob/master/README.md" target="_blank" rel="noopener noreferrer"> <i class="link-underline">'Patterns of brain activity predict curiosity-driven decision'</i> </a> presented at the <b> 25th annual meeting of Organization for Human Brain Mapping </b> in Rome, Italy </td>
    </tr>

    <tr> 
      <td class="date"> Mar, 2019</td> 
      <td class="content">  Invited talks at <b> Perception & Experience Lab (The Chinese University of Hong Kong) and Chang Lab (The University of Hong Kong) </b>, Hong Kong </td>
    </tr>


    <tr> 
      <td class="date"> Nov, 2018</td> 
      <td class="content">  Talk at the <b>'Exploring Curiosity' </b> meeting in Amsterdam, the Netherlands </td>
    </tr>




    <tr> 
      <td class="date"> Jun, 2017</td> 
      <td class="content"> Talk <a href="https://archive.aievolution.com/2017/hbm1701/index.cfm?do=abs.viewAbs&abs=2506" target="_blank" rel="noopener noreferrer"> <i class="link-underline">'The seductive power of curiosity: When it overrides physical risk – an fMRI investigation'</i> </a> at the <b> 23rd annual meeting of the Organization for Human Brain Mapping </b> in Vancouver, Canada </td>
    </tr>

    <tr> 
      <td class="date"> Jan, 2016</td> 
      <td class="content"> Talk at the <b> 2016 Spring meeting of Experimental Psychology Society </b> in London, U.K. </td>
    </tr>

    <tr> 
      <td class="date"> Sep, 2014</td> 
      <td class="content"> Talk at the annual meeting of the <b> British Association for Cognitive Neuroscience </b> in York, U.K. </td>
    </tr>


    <tr> 
      <td class="date"> Mar, 2013</td> 
      <td class="content"> Talk at the <b> 2013 Spring meeting of the British Neuropsychology Society </b> in London, U.K. </td>
    </tr>


  </tbody>
</table>