
<h2 class="work_title">  Scientific Publications </h2>
  <!-- <h3 class="sub-work-title"> Recent Publications </h3> -->
  <table>
    <tbody>

      <tr> 
        <td class="pub"> <b>Lau, J.K.L.</b>, Ozono, H., Kuratomi, K., Komiya, A. & Murayama, K. (2020). Hunger for Knowledge: How the Irresistible Lure of Curiosity is Generated in the Brain. <i>Nature Human Behaviour, 4,</i> 531–543. <a href="https://www.nature.com/articles/s41562-020-0848-3" target="_blank" rel="noopener noreferrer" class="link-underline"> https://doi.org/10.1038/s41562-020-0848-3 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> Kajimura, S., Masuda, N., <b>Lau, J.K.L.</b> & Murayama, K. (2019). Focused attention meditation changes the boundary and configuration of functional networks in the brain. <i>Scientific Reports, 10,</i> 18426. <a href="https://doi.org/10.1038/s41598-020-75396-9" target="_blank" rel="noopener noreferrer" class="link-underline"> https://doi.org/10.1038/s41598-020-75396-9</a> </td> 
      </tr>


      <tr> 
        <td class="pub"> FitzGibbon, L., <b>Lau, J.K.L.</b> & Murayama, K. (2020). The seductive lure of curiosity: information as a motivationally salient reward. <i>Current Opinion in Behavioral Sciences, 35,</i> 21-27. <a href="https://doi.org/10.1016/j.cobeha.2020.05.014" target="_blank" rel="noopener noreferrer" class="link-underline"> https://doi.org/10.1016/j.cobeha.2020.05.014 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> Ozono, H., Komiya, A., Kuratomi, K., Hatano, A., Fastrich, G., Raw, J.A.L., Haffey, A., Meliss, S., <b>Lau, J.K.L.</b> & Murayama, K. (2020). Magic Curiosity Arousing Tricks (MagicCATs): A novel stimulus collection to induce epistemic emotions. <i>Behavior Research Methods</i>. <a href="https://doi.org/10.3758/s13428-020-01431-2" target="_blank" rel="noopener noreferrer" class="link-underline"> https://doi.org/10.3758/s13428-020-01431-2 </a> </td> 
      </tr>


      <tr> 
        <td class="pub"> <b>Lau, J.K.L.</b>, Humphreys, G.W., Douis, H, Balani, A., Bickerton, W-L., Rotshtein, P. (2015). The relation of object naming and other visual speech production tasks: A large scale voxel-based morphometric study. <i>NeuroImage: Clinical, 7,</i> 463-475. <a href="https://doi.org/10.1016/j.nicl.2015.01.015" target="_blank" rel="noopener noreferrer" class="link-underline"> https://doi.org/10.1016/j.nicl.2015.01.015 </a> </td> 
      </tr>
      
      
    </tbody>
  </table>

  <p> For an exhaustive list of all my publications, please refer to my <a href="https://scholar.google.com/citations?user=tnKoxtoAAAAJ&hl=en" target="_blank" rel="noopener noreferrer"> <i class="link-label"> Google Scholar </i></a>   or <a href="http://orcid.org/0000-0002-3958-5582" target="_blank" rel="noopener noreferrer"> <i class="link-label"> ORCID</i></a> profiles. </p>

  <br />